@import "tailwindcss/base";
@import "tailwindcss/components";

.btn-primary {
  @apply bg-primary text-white font-semibold px-4 py-2
}

.btn-primary:hover {
  @apply bg-primaryDark
}

.menu-link {
  @apply ml-4 px-3 py-2 rounded-md text-sm font-medium text-white 
}

.menu-link:hover {
  @apply text-white bg-gray-700
}

.menu-link:focus {
  @apply outline-none text-white bg-gray-700
}

@screen sm {
  .btn-primary {
    @apply px-5 py-3
  }
}

@screen md {
  .btn-primary {
    @apply px-6 py-4 text-xl
  }
}

@screen lg {
}

@screen xl {
}

@import "tailwindcss/utilities";

.call-to-action {
  background: rgba(0, 0, 0, 0.75) url("../images/front1.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}
