.row.justify-content-center
  .col-6
    .mdc-card.mdc-elevation--z12
      .card-content
        .row.justify-content-center
          %h1.mdc-typography--headline1=t(".header")
        = render partial: "form"
