.call-to-action.flex-grow.flex.flex-col.justify-center.items-center
  %h1.text-white.font-semibold Konsultacje Obywatelskie
  %h2.text-white.font-thin.sm:font-normal.md:font-thin
    Niech politycy znają
    %span.text-primary Twoje zdanie
  .inline-flex.mt-6
    %a.inline-block.btn-primary.rounded{href: "#"} Zaloguj się
    %span.text-white.mx-4.self-center lub
    %a.inline-block.btn-primary.rounded{href: "#"} Zarejestruj się
