.mdc-card.mdc-elevation--z12
  .row
    .col.d-flex.justify-content-center.mb-5
      %h1.mdc-typography--headline1=t(".header")
  .row
    .col
      .card-content
        .row
          .col
            %h4.mdc-typography--headline4 Wersja krótka
            %ol
              %li
                Przechowujemy:
                %ul
                  %li adres email podany przy rejestracji,
                  %li funkcję skrótu z ciągu znaków podanego przy rejestracji jako hasło,
                  %li głosy na konkretne projekty ustaw.
              %li
                Powyższe dane trzymamy tak długo dopóki nie:
                %ul
                  %li nie usuniesz swojego konta samodzielnie,
                  %li nie poprosisz nas o usunięcie Twojego konta,
                  %li nie wyrazisz sprzeciwu dowoloną drogą gwarantowaną Ci przez RODO.
              %li
                Dane które przechowujemy o Tobie możesz pozyskać:
                %ul
                  %li używając narzędzia dostępnego w profilu,
                  %li wysyłając prośbę z adresu email przypisanego do konta na adres rodo@konsultacjeobywatelskie.pl.
              %li Dane przechowywane nie opuszczają naszej bazy danych chyba, że otrzymamy żądanie od uprawionych organów państwowych.
              %li W żadnej korespondencji nie będziemy prosić Cię o Twoje hasło
              %li O zmianach w Polityce Prywatności informujemy Cię drogą mailową 7 dni przed ich wprowadzeniem.
              %li Data ostatniej modyfikacji: 2020-01-28.
    .col
      .card-content
        %h4.mdc-typography--headline4 Wersja długa
        %ol
          %li Niniejsza polityka prywatności określa zasady przetwarzania danych osobowych pozyskanych za pośrednictwem serwisu internetowego konsultacjeobywatelskie.pl (zwanego dalej Konsultacje Obywatelskie lub Serwis).
          %li Właścicielem Konsultacji Obywatelskich i jednocześnie administratorem danych jest firma Kamisoft Michał Zając z siedzibą w Lubinie (59-300) przy ul. Wrzosowej 143 wpisana do Centralnej Ewidencji i Informacji o Działalności Gospodarczej pod numerem NIP: 8982253697, REGON: 384658199, zwana dalej Kamisoft.
          %li Dane osobowe zbierane przez Kamisoft za pośrednictwem Konsultacji Obywatelskich są przetwarzane z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych), zwane również RODO (lub GDPR).
        %h4.mdc-typography--headline4 Rodzaj przetwarzanych danych, cele oraz podstawa prawna
        %ol
          %li Kamisoft zbiera informacje dotyczące osób fizycznych, zwanych dalej Użytkownikami
          %li
            Dane osobowe Użytkowników są zbierane w przypadku:
            %ul
              %li rejestracji konta w serwisie Konsultacje Obywatelskie w celu korzystania z usługi oferowanej przez serwis Konsultacje Obywatelskie
              %li otrzymywania komunikatów dotyczących serwisu Konsultacje Obywatelskie drogą elektroniczną
              %li subskrypcji biuletynu informacyjnego (newsletter), w celu wykonania umowy, której przedmiotem jest usługa świadczona drogą elektroniczną
          %li
            W przypadku rejestracji konta w serwisie Konsultacje Obywatelskie, Użytkownik podaje:
            %ul
              %li adres e-mail
              %li hasło
          %li Podczas korzystania ze Strony Internetowej Serwisu mogą być pobierane dodatkowe informacje, w szczególności: adres IP przypisany do komputera Użytkownika lub zewnętrzny adres IP dostawcy Internetu, nazwa domeny, rodzaj przeglądarki, czas dostępu, typ systemu operacyjnego.
        %h4.mdc-typography--headline4 Komu udostępniane lub powierzane są dane oraz jak długo są przechowywane?
        %ol
          %li
            Dane osobowe Użytkownika przekazywane są dostawcom usług, z których korzysta Kamisoft przy prowadzeniu Konsultacji Obywatelskich. Dostawcy usług, którym przekazywane są dane osobowe, w zależności od uzgodnień umownych i okoliczności, albo podlegają poleceniom Konsultacji Obywatelskich co do celów i sposobów przetwarzania tych danych (podmioty przetwarzające) albo samodzielnie określają cele i sposoby ich przetwarzania (administratorzy).
            %ul
              %li Podmioty przetwarzające. Kamisoft korzysta z dostawców, którzy przetwarzają dane osobowe wyłącznie na polecenie Kamisoft. Należą do nich m.in. dostawcy świadczący usługę hostingu.
          %li Lokalizacja. Dostawcy usług mają siedzibę głównie w Polsce i w innych krajach Europejskiego Obszaru Gospodarczego (EOG).
          %li
            Dane osobowe Użytkowników przechowywane są:
            %ul
              %li W przypadku, gdy podstawą przetwarzania danych osobowych jest zgoda wówczas dane osobowe Użytkownika przetwarzane są przez Kamisoft tak długo, aż zgoda nie zostanie odwołana, a po odwołaniu zgody przez okres czasu odpowiadający okresowi przedawnienia roszczeń jakie może podnosić Kamisoft i jakie mogą być podnoszone wobec niego. Jeżeli przepis szczególny nie stanowi inaczej, termin przedawnienia wynosi lat sześć, a dla roszczeń o świadczenia okresowe oraz roszczeń związanych z prowadzeniem działalności gospodarczej - trzy lata.
              %li W przypadku, gdy podstawą przetwarzania danych jest wykonanie umowy, wówczas dane osobowe Użytkownika przetwarzane są przez Kamisoft tak długo, jak jest to niezbędne do wykonania umowy, a po tym czasie przez okres odpowiadający okresowi przedawnienia roszczeń. Jeżeli przepis szczególny nie stanowi inaczej, termin przedawnienia wynosi lat sześć, a dla roszczeń o świadczenia okresowe oraz roszczeń związanych z prowadzeniem działalności gospodarczej - trzy lata.
          %li W przypadku, gdy Użytkownik dokona subskrypcji biuletynu informacyjnego (Newsletter) na jego adres e-mail Kamisoft będzie wysyłać wiadomości elektroniczne zawierające informacje o zmianach w usługach świadczonych przez Konsultacje Obywatelskie.
          %li W przypadku skierowania żądania Kamisoft udostępnia dane osobowe uprawnionym organom państwowym, w szczególności jednostkom organizacyjnym Prokuratury, Policji, Prezesowi Urzędu Ochrony Danych Osobowych, Prezesowi Urzędu Ochrony Konkurencji i Konsumentów lub Prezesowi Urzędu Komunikacji Elektronicznej.
        %h4.mdc-typography--headline4 Mechanizm cookie, adres IP
        %ol
          %li Konsultacje Obywatelskie używają niewielkich plików, zwanych cookies. Zapisywane są one przez Kamisoft na urządzeniu końcowym osoby odwiedzającej Konsultacje Obywatelskie, jeżeli przeglądarka internetowa na to pozwala. Plik cookie zwykle zawiera nazwę domeny, z której pochodzi, swój „czas wygaśnięcia" oraz indywidualną, losowo wybraną liczbę identyfikującą ten plik.
          %li
            Konsultacje Obywatelskie wykorzstują dwa typy plików cookie:
            %ul
              %li Cookies sesyjne: po zakończeniu sesji danej przeglądarki lub wyłączeniu komputera zapisane informacje są usuwane z pamięci urządzenia. Mechanizm cookies sesyjnych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z komputerów Użytkowników.
              %li Cookies trwałe: są przechowywane w pamięci urządzenia końcowego Użytkownika i pozostają tam do momentu ich skasowania lub wygaśnięcia. Mechanizm cookies trwałych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z komputera Użytkowników.
          %li
            Konsultacje Obywatelskie wykorzystują pliki cookie w celu:
            %ul
              %li uwierzytelniania Użytkownika w Serwisie i zapewnienia trwania sesji Użytkownika w serwisie po ówczesnym zalogowaniu. Sesja pozwala Użytkownikowi na korzystanie z różnych podstron Serwisu bez potrzeby ponownego logowania.
        %h4.mdc-typography--headline4 Prawa osób, których dane dotyczą
        %ol
          %li
            Prawo do cofnięcia zgody
            %ul
              %li Użytkownik ma prawo do cofnięcia każdej zgody, jakiej udzielił Kamisoft.
              %li Cofnięcie zgody ma skutek od momentu wycofania zgody.
              %li Cofnięcie zgody nie wpływa na przetwarzanie dokonywane przez Kamisoft zgodnie z prawem przed jej cofnięciem.
              %li Cofnięcie zgody nie pociąga za sobą dla Użytkownika żadnych negatywnych konsekwencji, może jednak uniemożliwić dalsze korzystanie z usług lub funkcjonalności, które zgodnie z prawem Kamisoft może świadczyć jedynie za zgodą.
          %li
            Prawo do sprzeciwu wobec przetwarzania danych
            %ul
              %li Użytkownik ma prawo w dowolnym momencie wnieść sprzeciw - z przyczyn związanych z jego szczególną sytuacją - wobec przetwarzania jego danych osobowych.
              %li Jeżeli sprzeciw Użytkownika okaże się zasadny i Kamisoft nie będzie miał innej podstawy prawnej do przetwarzania danych osobowych, dane osobowe Użytkownika zostaną usunięte, wobec przetwarzania których, Użytkownik wniósł sprzeciw.
          %li
            Prawo do usunięcia danych („prawo do bycia zapomnianym”)
            %ul
              %li Użytkownik ma prawo do żądania usunięcia wszystkich lub niektórych danych osobowych.
              %li
                Użytkownik ma prawo żądania usunięcia danych osobowych, jeżeli:
                %ul
                  %li dane osobowe nie są już niezbędne do celów, w których zostały zebrane lub w których były przetwarzane;
                  %li wycofał określoną zgodę, w zakresie w jakim dane osobowe były przetwarzane w oparciu o jego zgodę;
                  %li dane osobowe są przetwarzane niezgodnie z prawem;
                  %li dane osobowe muszą zostać usunięte w celu wywiązania się z obowiązku prawnego przewidzianego w prawie Unii lub prawie Państwa członkowskiego, któremu Kamisoft podlega;
                  %li dane osobowe zostały zebrane w związku z oferowaniem usług społeczeństwa informacyjnego.
              %li Pomimo żądania usunięcia danych osobowych, w związku z wniesieniem sprzeciwu lub wycofaniem zgody, Kamisoft może zachować pewne dane osobowe w zakresie, w jakim przetwarzanie jest niezbędne do ustalenia, dochodzenia lub obrony roszczeń, jak również do wywiązania się z prawnego obowiązku wymagającego przetwarzania na mocy prawa Unii lub prawa państwa członkowskiego, któremu podlega Kamisoft. Dotyczy to w szczególności danych osobowych obejmujących: imię, nazwisko, adres e-mail, które to dane zachowywane są dla celów rozpatrywania skarg oraz roszczeń związanych z korzystaniem z usług Kamisoft, czy też dodatkowo adresu zamieszkania/adresu korespondencyjnego, numeru zamówienia, które to dane zachowywane są dla celów rozpatrywania skarg oraz roszczeń związanych z zawartymi umowami sprzedaży lub świadczeniem usług.
          %li
            Prawo do ograniczenia przetwarzania danych
            %ul
              %li Użytkownik ma prawo do żądania ograniczenia przetwarzania jego danych osobowych. Zgłoszenie żądania, do czasu jego rozpatrzenia uniemożliwia korzystanie z określonych funkcjonalności lub usług, z których korzystanie będzie się wiązało z przetwarzaniem danych objętych żądaniem. Kamisoft nie będzie też wysyłał żadnych komunikatów, w tym marketingowych.
              %li
                Użytkownik ma prawo do żądania ograniczenia wykorzystania danych osobowych w następujących przypadkach:
                %ul
                  %li gdy kwestionuje prawidłowość swoich danych osobowych – wówczas Kamisoft ogranicza ich wykorzystanie na czas potrzebny do sprawdzenia prawidłowości danych, nie dłużej jednak niż na 7 dni;
                  %li gdy przetwarzanie danych jest niezgodne z prawem, a zamiast usunięcia danych Użytkownik zażąda ograniczenia ich wykorzystania;
                  %li gdy dane osobowe przestały być niezbędne do celów, w których zostały zebrane lub wykorzystywane ale są one potrzebne Użytkownikowi w celu ustalenia, dochodzenia lub obrony roszczeń;
                  %li gdy wniósł sprzeciw wobec wykorzystania jego danych – wówczas ograniczenie następuje na czas potrzebny do rozważenia, czy – ze względu na szczególną sytuację – ochrona interesów, praw i wolności Użytkownika przeważa nad interesami, które realizuje Administrator, przetwarzając dane osobowe Użytkownika.
          %li
            Prawo dostępu do danych
            %ul
              %li
                Użytkownik ma prawo uzyskać od Administratora potwierdzenie, czy przetwarza dane osobowe, a jeżeli ma to miejsce, Użytkownik ma prawo:
                %ul
                  %li uzyskać dostęp do swoich danych osobowych;
                  %li uzyskać informacje o celach przetwarzania, kategoriach przetwarzanych danych osobowych, o odbiorcach lub kategoriach odbiorców tych danych, planowanym okresie przechowywania danych Użytkownika albo o kryteriach ustalania tego okresu (gdy określenie planowanego okresu przetwarzania danych nie jest możliwe), o prawach przysługujących Użytkownikowi na mocy RODO oraz o prawie wniesienia skargi do organu nadzorczego, o źródle tych danych, o zautomatyzowanym podejmowaniu decyzji, w tym o profilowaniu oraz o zabezpieczeniach stosowanych w związku z przekazaniem tych danych poza Unię Europejską;
                  %li uzyskać kopię swoich danych osobowych.
          %li
            Prawo do sprostowania danych
            %ul
              %li Użytkownik ma prawo do żądania od Administratora niezwłocznego sprostowania dotyczących jego danych osobowych, które są nieprawidłowe. Z uwzględnieniem celów przetwarzania, Użytkownik, którego dane dotyczą ma prawo żądania uzupełnienia niekompletnych danych osobowych, w tym przez przedstawienie dodatkowego oświadczenia, kierując prośbę na adres poczty elektronicznej zgodnie z §6 Polityki Prywatności.
          %li
            Prawo do przenoszenia danych
            %ul
              %li Użytkownik ma prawo otrzymać swoje dane osobowe, które dostarczył Administratorowi, a następnie przesłać je do innego, wybranego przez siebie, administratora danych osobowych. Użytkownik ma również prawo żądać, by dane osobowe zostały przesłane przez Administratora bezpośrednio takiemu administratorowi, o ile jest to technicznie możliwe. W takim przypadku Administrator prześle dane osobowe Użytkownika w postaci pliku w formacie csv, który jest formatem powszechnie używanym, nadającym się do odczytu maszynowego i pozwalającym na przesłanie otrzymanych danych do innego administratora danych osobowych.
          %li W sytuacji wystąpienia przez Użytkownika z uprawnieniem wynikającym z powyższych praw, Kamisoft spełnia żądanie albo odmawia jego spełnienia niezwłocznie, nie później jednak niż w ciągu miesiąca po jego otrzymaniu. Jeżeli jednak - z uwagi na skomplikowany charakter żądania lub liczbę żądań – Kamisoft nie będzie mógł spełnić żądania w ciągu miesiąca, spełni je w ciągu kolejnych dwóch miesięcy informując Użytkownika uprzednio w terminie miesiąca od otrzymania żądania - o zamierzonym przedłużeniu terminu oraz jego przyczynach.
          %li Użytkownik może zgłaszać do Administratora skargi, zapytania i wnioski dotyczące przetwarzana jego danych osobowych oraz realizacji przysługujących mu uprawnień.
          %li Użytkownik ma prawo żądać od Kamisoft przekazania kopii standardowych klauzul umownych kierując zapytanie w sposób wskazany w §6 Polityki Prywatności.
          %li Użytkownikowi przysługuje prawo do wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, w zakresie naruszenia jego praw do ochrony danych osobowych lub innych praw przyznanych na mocy RODO.
        %h4.mdc-typography--headline4 Zarządzanie bezpieczeństwem hasła
        %ol
          %li Kamisoft zapewnia szyfrowane połączenie protokołem HTTPS przez cały czas korzystania z serwisu. Certyfikat wystawiony jest przez zaufaną przez większość przeglądarek instytucję Let's Encrypt.
          %li W przypadku, gdy Użytkownik posiadający konto w Serwisie Internetowym utracił w jakikolwiek sposób hasło dostępu, Serwis Internetowy umożliwia wygenerowanie nowego hasła. Kamisoft nie wysyła przypomnienia hasła ponieważ jest ono przechowywane w formie funkcji skrótu (BCrypt), w sposób uniemożliwiający jego odczytanie. Celem wygenerowania nowego hasła należy podać adres e-mail w formularzu dostępnym pod linkiem „Nie pamiętasz hasła”, podanym przy formularzu logowania do konta w Serwisie Internetowym. Użytkownik na adres poczty elektronicznej podany podczas rejestracji lub zapisany w ostatniej zmianie profilu konta otrzyma wiadomość elektroniczną zawierającą przekierowanie do dedykowanego formularza udostępnionego na Stronie Internetowej Serwisu, gdzie Użytkownik będzie miał możliwość ustalenia nowego hasła.
          %li Kamisoft nigdy nie wysyła żadnej korespondencji, w tym korespondencji elektronicznej z prośbą o podanie danych do logowania, a w szczególności hasła dostępowego do konta Użytkownika.
        %h4.mdc-typography--headline4 Zmiany Polityki Prywatności
        %ol
          %li Polityka Prywatności może ulec zmianie, o czym Kamisoft poinformuje Użytkowników z wyprzedzeniem 7 dni.
          %li Pytania związane z Polityką Prywatności prosimy kierować na adres: prywatnosc@konsultacjeobywatelskie.pl.
          %li Data ostatniej modyfikacji: 2020-01-28.
